<h1>Create New Employee</h1>
<div class="form-group">
  <form action="/employees/new" method="post">
    <label for="name">Employee Name:</label>
    <input type="text" name="name">

    <button class="btn btn-info" name="add" type ="submit">Add</button>
  </form>
</div>
